<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/Layout-admin.html}">
<section class="row" layout:fragment="content">
    <div class="col mt-4">
        <div class="card">
            <div class="card-header">List Category</div>
            <div class="card-body">
                <div th:if="${message != null}" class="alert alert-primary" role="alert">
                    <i th:text="${message}"></i>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <form th:action="@{/admin/categories/searchpaginated}" class="input-group">
                            <input type="text" class="form-control ml-2" name="name" placeholder="Nhập từ khóa để tìm">
                            <button class="btn btn-outline-primary ml-2">Search</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="float-right">
                            <a class="btn btn-outline-success" th:href="@{/admin/categories/add}">Add New Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
